@import "tailwindcss";
/* @plugin "daisyui"; */

// Fonts
@font-face {
	font-family: "VeranoSans";
	src: url("src/fonts/VeranoSans-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "VeranoSans";
	src: url("src/fonts/VeranoSans-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "VeranoSans";
	src: url("src/fonts/VeranoSans-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "VeranoSans";
	src: url("src/fonts/VeranoSans-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "VeranoSans";
	src: url("src/fonts/VeranoSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mak";
	src: url("src/fonts/Mak.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Mak";
	src: url("src/fonts/Mak-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-gold: #e4cda0;
	--color-gold-light: #f1e0be;

	--font-verano-sans: "VeranoSans", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, sans-serif;
	--font-mak: "Mak", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		sans-serif;
}

:root {
	font-family: var(--font-verano-sans) !important;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 0.05em;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
}
a:hover {
}

body {
	margin: 0;
}

h1 {
	line-height: 1.1;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

/* button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
	}
	s button {
		background-color: #f9f9f9;
	}
}

.main-title .word {
	display: inline-block; /* нужно, чтобы transform/opacity работали по слову */
	white-space: pre; /* сохраняет пробелы */
	will-change: transform, opacity;
	transform-origin: center;
}

/* Accordion */

.is-open .accordion-trigger {
	background-color: rgb(239 246 255); /* blue-50 */
	color: rgb(29 78 216); /* blue-700 */
}
.is-open .accordion-icon {
	color: rgb(29 78 216); /* blue-700 */
}

/* Preloader */

/* Золотой градиент для текста/линий если нужно будет расширить */
.gold-text {
	color: #e4cda0;
}

.gold-bg {
	background-color: #e4cda0;
}

/* Self */

/* Frame 8 */

/* Auto layout */
.title-xl {
	@apply text-8xl text-center font-mak leading-[1.1];
}

/* .section-header {
} */
/* @Клиент */

.text-golden {
	background: radial-gradient(
			50% 175.52% at 50% 50%,
			rgba(255, 241, 213, 0.36) 0%,
			rgba(173, 114, 0, 0.324) 100%
		),
		linear-gradient(0deg, #ffd176, #ffd176), #f8fafc;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

/* Rectangle 41 */
/* Rectangle 41 */
.custom-checkbox:checked {
	/* background-color: #e6c275; Золотистый фон */
	border-color: #e6c275;
}
.custom-checkbox {
	/* Базовые стили для чекбокса */
	appearance: none;
	width: 1.25rem;
	height: 1.25rem;
	border: 1px solid rgba(255, 255, 255, 0.4);
	cursor: pointer;
	position: relative;
}
.custom-checkbox:checked::after {
	/* Имитация галочки */
	content: "✔";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.75rem;
	color: #e6c275; /* Черный цвет галочки на золотистом фоне */
	line-height: 1;
}
