@import "tailwindcss";
@plugin "daisyui";

// Fonts
@font-face {
	font-family: "Unbounded";
	src: url("src/fonts/Unbounded-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Unbounded";
	src: url("src/fonts/Unbounded-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Unbounded";
	src: url("src/fonts/Unbounded-Light.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Unbounded";
	src: url("src/fonts/Unbounded-Blond.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Unbounded";
	src: url("src/fonts/Unbounded-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Unbounded";
	src: url("src/fonts/Unbounded-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	font-family: "Unbounded", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, sans-serif !important;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	s button {
		background-color: #f9f9f9;
	}
}

.main-title .word {
	display: inline-block; /* нужно, чтобы transform/opacity работали по слову */
	white-space: pre; /* сохраняет пробелы */
	will-change: transform, opacity;
	transform-origin: center;
}
